<!DOCTYPE html>
<html>

<head>
  <title>Web service Client</title>
</head>

<body>
  <h1>Web Service Client</h1>

  <h2>Echo</h2>
  <p>POST /echo</p>
  <p>Any JSON sent will be sent back</p>

  <div>
    <input id="username_input" type="text" name="username" placeholder="UserName" />
    <input id="message_input" type="text" name="message" placeholder="Enter your message" />
    <button id="done_button">Done</button>
    <button id="echo_button">Echo The Message</button>
    <button id="get_button">Get Messages</button>
  </div>

  <div id="output">

  </div>

  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>

</html>
